@using WorkTestTrello.Engine
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work Test Trello - @ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @if (Authentication.IsLoggedIn()) {
          <a id="header_boards" href="@Url.Action("Index", "Board")" class="navbar-brand">Boards</a>
        }
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><div class="navbar-logo"><img src="~/Images/Layout/TrelloIcon.png" height="20" /> &nbsp; Work Test - Trello</div></li>
        </ul>
        @Html.Partial("_LoginPartial")
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Work Test Trello</p>
    </footer>
  </div>
  @Html.Partial("_ScriptTemplates")
  @Scripts.Render("~/bundles/worktesttrello")
  @Scripts.Render("~/bundles/bootstrap")
  <script type="text/javascript">
    function GetSiteURLPrefix() {
      return "@Url.Content("~")";
    }
  </script>
  @RenderSection("scripts", required: false)
</body>
</html>
